.header-main
	position: fixed
	z-index: 100
	width: 100%
	top: 0
	left: 0
	right: 0
	transition: background-color $tr-3
	background-color: rgba(darken($col-accent, 20%), .8)
	&[data-scroll], &[show-nav]
		background-color: rgba(darken($col-accent, 20%), .6)
		backdrop-filter: blur(15px)
	&[show-nav] .hamburger::after
		content: '⤫'
	.wrapper
		height: var(--header-height)
		display: flex
		justify-content: space-between
		align-items: center
		transition: padding $tr-1
	.top
		display: flex
		justify-content: space-between
	.logo:hover
		transform: scale(1.1)
	.hamburger
		display: none
		line-height: 0
		aspect-ratio: 1
		padding: 5px
		border-radius: 5px
		align-items: center
		justify-content: center
		&:hover
			background-color: $col-base-dark-1
			color: $col-base-light-1
	nav
		display: flex
		align-items: center
		transition: opacity $tr-1, max-height $tr-1