@media (max-width: 1440px)
	section
		padding-top: 2em
	.section-title
		font-size: 2.1em
	.breadcrumbs
		padding: 7px 0

	.footer-main .wrapper
		padding: 2em 0

@media (max-width: 1280px)
	.header-main
		font-size: 0.9em

@media (max-width: 1024px)
	.header-main
		&[show-nav] nav
			margin-top: 1em
			max-height: 500px
			opacity: 1
			visibility: visible
		.wrapper
			max-width: unset
			flex-direction: column
			align-items: stretch
		.top
			padding-inline: 5%
		.hamburger
			display: inline-block
		nav
			flex-direction: column
			align-items: stretch
			max-height: 0
			opacity: 0
			visibility: hidden
		.nav-menu
			flex-direction: column
			align-items: stretch
			a
				display: flex
				padding-inline: 5%
				&:hover
					background-color: $col-base-dark-1
		.search
			display: flex
			padding-inline: 5%
			.search-button
				order: 1
			.search-field
				order: 2

@media (max-width: 768px)
	.footer-main
		.wrapper
			padding-block: 1em
		.nav-menu a
			padding-inline: 1em

@media (max-width: 480px)
	.footer-main
		.wrapper
			flex-direction: column
		nav
			margin-top: 1em
		.nav-menu
			flex-direction: column
			gap: 0