@media (max-width: 1440px)
	.section-title
		font-size: 2.1em
	.breadcrumbs
		padding: 7px 0

	.footer-main .wrapper
		padding: 2em 0

@media (max-width: 1280px)
	.header-main
		font-size: 0.9em

@media (max-width: 1024px)
	.header-main
		nav
			position: absolute
			z-index: 10
			top: 100%
			left: 0
			width: 100%
			background-color: $col-base-dark-1
		&[show-nav] nav
			padding: 1em 0
			max-height: 500px
			opacity: 1
			visibility: visible
		.wrapper
			max-width: unset
			flex-direction: column
			align-items: stretch
		.top
			height: 100%
			align-items: center
			padding-inline: 5%
		.hamburger
			display: inline-block
		nav
			flex-direction: column
			align-items: stretch
			max-height: 0
			opacity: 0
			visibility: hidden
		.nav-menu
			flex-direction: column
			align-items: stretch
			a
				display: flex
				padding-inline: 5%
				&:hover
					background-color: $col-base-dark-1

	.cards[data-cards="rw_olx"]
		grid-template-columns: repeat(3, 1fr)

@media (max-width: 768px)
	.footer-main
		.wrapper
			padding-block: 1em
		.nav-menu a
			padding-inline: 1em

	.cards[data-cards="rw_olx"]
		grid-template-columns: repeat(2, 1fr)

@media (max-width: 480px)
	.page-info
		flex-direction: column
		align-items: stretch

	.footer-main
		.wrapper
			flex-direction: column
		nav
			margin-top: 1em
		.nav-menu
			flex-direction: column
			gap: 0

	.cards[data-cards="rw_olx"]
		grid-template-columns: 1fr