$tr-1: ease .25s
$tr-2: ease-in-out .25s
$tr-3: ease-in .25s

$b: #000
$w: #FFF
$tsp: #0000

$col-accent: #ed474a
$col-base-dark-1: #313131
$col-base-light-1: #FFFFFF
$col-base-light-2: #838383

$ff-main: 'Inter', sans-serif

$fs-main: 18px
$wrapper-xl: 1410px
$wrapper-home-xl: 1170px

:root
	--header-height: 70px